<div class="container mt-5">
  <h1>Bienvenido a AppointmentByRails</h1>
  <p>Has iniciado sesión correctamente.</p>
  <form action="/auth/logout" method="POST">
    <button type="submit" class="btn btn-danger">Cerrar Sesión</button>
  </form>
</div>
